footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 15px 0;
}

.icons svg {
    cursor: pointer;
    font-size: 50px;
    margin: 5px 8px;
}