footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 15px 0;
}

.icons svg {
    cursor: pointer;
    font-size: 50px;
    margin: 5px 8px;
}


@media all and (max-width: 400px) {

    footer p {
        font-size: 14px;
    }

    .icons svg {
        font-size: 40px;
    }
}