header {
    box-sizing: border-box;
    background-color: black;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.logo {
    color: white;
    display: flex;
    align-items: center;
    width: 32%;
}

.logo h2 {
    font-size: 40px;
    margin: 0 8px 0 0;
    letter-spacing: 0;
}

.logo img {
    position: relative;
    bottom: 9px;
    width: 70px;
    object-fit: contain;
}

nav {
    width: 36%;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

nav a:hover {
    color: red;
    transition: 200ms;
}

.specials-menu {
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: rgb(33, 33, 33);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.specials-menu a {
    color: white;
    text-decoration: none;
    margin: 3px 15px;
}

.specials-menu a:hover {
    color: red;
    transition: 200ms;
}

.none {
    display: none;
}

.zip-head {
    width: 32%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.zip-head p {
    color: white;
    font-size: 12px;
    margin: 0;
}

.zip-head input {
    background-color: black;
    color: wheat;
    font-size: 16px;
    padding: 6px 8px;
    width: 150px;
    border: 1px solid white;
    outline: none;
}

.zip-head button {
    cursor: pointer;
    background-color: rgb(235, 235, 235);
    color: black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.3px;
    padding: 8px 12px;
    border: 0px;
    margin: 0 0 4px 1px;
}

.zip-head button:hover {
    background-color: white;
}

.after-zip {
    display: none;
}

.no-location2 {
    position: relative;
    top: 33px;
    right: 220px;
    width: 0;
}

.no-location2 p {
    background-color: white;
    color: black;
    font-size: 15px;
    width: 220px;
}

.hamburgher {
    width: 40%;
    display: none;
    justify-content: center;
}

.hamburgher button {
    background-color: black;
    color: white;
    display: flex;
    font-size: 40px;
    border: 0px;
    margin: 0;
}


@media screen and (max-width: 900px) {
    header {
        padding: 0 20px;
    }

    .logo {
        width: 30%;
    }
    
    .logo h2 {
        font-size: 35px;
    }
    
    .logo img {
        width: 62px;
    }

    nav {
        width: 40%;
    }
    
    nav a {
        font-size: 16px;
    }
    
    .zip-head {
        width: 30%;
    }

    .zip-head input {
        width: 110px;
    }
    
    .zip-head button {
        font-size: 15px;
        padding: 8px 10px;
    }

    .no-location2 {
        right: 210px;
    }
    
    .no-location2 p {
        width: 210px;
    }
}


@media screen and (max-width: 600px) {
    header {
        padding: 0 10px;
    }

    .logo {
        width: 30%;
    }
    
    .logo h2 {
        font-size: 35px;
    }
    
    .logo img {
        width: 62px;
    }

    nav {
        display: none;
    }

    .hamburgher {
        display: flex;
    }
    
    .zip-head {
        display: none;
    }

    .after-zip {
        display: flex;
    }
}