header {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: 70px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
}

nav {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}