h1 {
  font-size: 55px;
}

.first {
  box-sizing: border-box;
  margin-top: 70px;
}
.first .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.first .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.first .background-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.first .video-text {
  position: absolute;
  top: 45vh;
  margin: 0 40px;
  color: white;
}
.first .video-text h1 {
  margin: 0;
}

.second {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 55px 0;
}
.second .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.second .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.second .text h2 {
  font-size: 45px;
  margin: 18px 0;
}
.second .text h3 {
  margin: 0;
}

.third {
  background-color: black;
  color: white;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.third .images {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.third .images img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}
.third .images p {
  position: relative;
  bottom: 28px;
  font-size: 18px;
  background-color: white;
  color: black;
  text-align: center;
  width: 210px;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.third .images .big img {
  aspect-ratio: 2/1;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}
.third .images .big p {
  position: relative;
  bottom: 37px;
  font-size: 22px;
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.third .text {
  grid-column: 2/3;
  padding: 120px 0 0 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.third .text .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.third .text .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.third .text h1 {
  margin: 0;
}
.third .text img {
  width: 380px;
  margin-top: 70px;
}

.team {
  text-align: center;
  margin: 50px 23%;
}
.team .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.team .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.team h1 {
  border-bottom: 8px solid black;
  margin: 25px 0;
}
.team p {
  font-size: 18px;
  margin: 25px 0;
}

.fourth {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 40px;
}
.fourth .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.fourth .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.fourth .one, .fourth .two {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fourth .one h3, .fourth .two h3 {
  font-size: 35px;
}
.fourth .one h4, .fourth .two h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.fourth .one img, .fourth .two img {
  width: 650px;
  border-radius: 10px;
}

@media all and (max-width: 900px) {
  .fourth {
    grid-template-rows: 1fr 1fr;
    padding: 50px 20px;
  }
  .fourth .one, .fourth .two {
    margin-bottom: 40px;
  }
  .fourth .one {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .fourth .two {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .third {
    grid-template-rows: 50% 50%;
  }
  .third .images {
    grid-column: 1/3 !important;
    grid-row: 1/2;
  }
  .third .text {
    padding: 120px 0 0 0 !important;
    grid-column: 1/3 !important;
    grid-row: 2/3;
  }
}
@media all and (max-width: 600px) {
  .fourth .one, .fourth .two {
    margin-bottom: 40px;
  }
  .fourth .one h3, .fourth .two h3 {
    font-size: 32px;
  }
  .fourth .one h4, .fourth .two h4 {
    font-size: 23px;
    font-weight: 400;
    margin: 0;
  }
  .fourth .one img, .fourth .two img {
    width: 400px !important;
  }
  .third .text {
    padding: 120px 0 0 0 !important;
  }
}
@media all and (max-width: 420px) {
  h1 {
    font-size: 50px !important;
  }
  .first .video-text {
    top: 30vh !important;
    margin: 0 8px !important;
  }
  .second .text h2 {
    font-size: 35px !important;
  }
  .third {
    padding: 50px 8px !important;
  }
  .third .images {
    justify-content: space-around !important;
  }
  .third .images img {
    width: 170px !important;
    height: 170px !important;
  }
  .third .images p {
    width: 170px !important;
  }
  .third .images .big img {
    width: 100% !important;
  }
  .third .images .big p {
    width: 100% !important;
  }
  .third .text {
    grid-column: 2/3;
    padding: 120px 0 0 40px;
  }
  .third .text img {
    width: 250px !important;
    margin-top: 70px;
  }
  .fourth {
    padding: 50px 8px;
  }
  .fourth .one img, .fourth .two img {
    max-width: 300px;
  }
  .team {
    margin: 50px 20px !important;
  }
  .team p {
    font-size: 15px !important;
  }
}
h2 {
  font-size: 45px;
}

h4 {
  font-size: 30px;
}

.reward-first {
  padding: 0 40px;
  margin-top: 70px;
}
.reward-first h4 {
  padding: 10px 0;
  margin: 0;
}

.reward-second {
  background-image: url(../../Img/red_rings.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 120px 35%;
}
.reward-second .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.reward-second .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.reward-second h1 {
  font-size: 65px;
  font-weight: 300;
}
.reward-second .button {
  background-color: rgb(33, 33, 33);
  margin: 0 20px;
}

.reward-third {
  background-color: rgb(33, 33, 33);
  color: white;
  text-align: center;
  padding: 50px 30%;
}
.reward-third h2 {
  font-weight: 500;
}

.reward-fourth {
  background-color: rgb(33, 33, 33);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 10% 150px 10%;
}
.reward-fourth div {
  width: 320px;
}
.reward-fourth div img {
  width: 120px;
}
.reward-fourth div h2 {
  font-weight: 500;
  margin: 10px 0;
}
.reward-fourth div p {
  font-weight: 300;
}

.specials-first {
  background-image: url(../../Img/red_rings.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 80px 30%;
}
.specials-first h2 {
  font-size: 55px;
  font-weight: 300;
}

.four {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  padding: 40px 40px;
}
.four .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.four .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.four .one {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
.four .one h3 {
  font-size: 35px;
  margin: 20px 0;
}
.four .one p {
  text-align: center;
  width: 600px;
  margin: 0;
}
.four .one img {
  object-fit: cover;
  width: 650px;
  height: 400px;
  border-radius: 10px;
}
.four .one .button {
  margin: 30px 0;
}

@media all and (max-width: 900px) {
  .reward-first {
    padding: 0 20px;
  }
  .reward-second {
    padding: 120px 23%;
  }
  .reward-third {
    padding: 50px 20%;
  }
  .specials-first {
    padding: 80px 20%;
  }
  .four {
    grid-template-columns: 1fr;
    padding: 40px 20px;
  }
}
@media all and (max-width: 600px) {
  .reward-first {
    padding: 0 10px;
  }
  .reward-second {
    padding: 120px 10%;
  }
  .reward-third {
    padding: 50px 7%;
  }
  .specials-first {
    padding: 80px 10%;
  }
  .reward-fourth {
    justify-content: center;
  }
  .four {
    padding: 40px 10px;
  }
  .four .one {
    padding: 40px 0;
  }
  .four .one h3 {
    font-size: 33px;
  }
  .four .one p {
    font-size: 15px;
    width: 400px;
  }
  .four .one img {
    width: 400px;
    height: 200px;
  }
}
@media all and (max-width: 400px) {
  .reward-first {
    padding: 0 8px;
  }
  .reward-first h4 {
    font-size: 28px;
  }
  .reward-second {
    padding: 120px 5%;
  }
  .four {
    padding: 40px 8px;
  }
  .four .one p {
    width: 300px;
  }
  .four .one img {
    width: 300px;
    height: 180px;
  }
}

/*# sourceMappingURL=Rewards.css.map */
