h1 {
  font-size: 55px;
}

.first {
  box-sizing: border-box;
  margin-top: 70px;
}
.first .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.first .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.first .background-video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.first .video-text {
  position: absolute;
  top: 45vh;
  margin: 0 40px;
  color: white;
}
.first .video-text h1 {
  margin: 0;
}

.second {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 55px 0;
}
.second .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.second .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.second .text h2 {
  font-size: 45px;
  margin: 18px 0;
}
.second .text h3 {
  margin: 0;
}

.third {
  background-color: black;
  color: white;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.third .images {
  grid-column: 1/2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.third .images img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}
.third .images p {
  position: relative;
  bottom: 28px;
  font-size: 18px;
  background-color: white;
  color: black;
  text-align: center;
  width: 210px;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.third .images .big img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0;
}
.third .images .big p {
  position: relative;
  bottom: 37px;
  font-size: 22px;
  background-color: white;
  color: black;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;
  margin: 0;
}
.third .text {
  grid-column: 2/3;
  padding: 120px 0 0 40px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.third .text .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.third .text .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.third .text h1 {
  margin: 0;
}
.third .text img {
  width: 380px;
  margin-top: 70px;
}

.team {
  text-align: center;
  margin: 50px 23%;
}
.team .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.team .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.team h1 {
  border-bottom: 8px solid black;
  margin: 25px 0;
}
.team p {
  font-size: 18px;
  margin: 25px 0;
}

.fourth {
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 40px;
}
.fourth .button {
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 9px 17px;
  border: 0px;
}
.fourth .button:hover {
  cursor: pointer;
  background-color: rgb(174, 0, 0);
  transition: 200ms;
}
.fourth .one, .fourth .two {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fourth .one h3, .fourth .two h3 {
  font-size: 35px;
}
.fourth .one h4, .fourth .two h4 {
  font-size: 25px;
  font-weight: 400;
  margin: 0;
}
.fourth .one img, .fourth .two img {
  width: 650px;
  border-radius: 10px;
}

/*# sourceMappingURL=Home.css.map */
